.index-slide{
	margin: 0px 0 30px;
	.regular1{
		.item1{
			.img-slider{
				outline: none;
			}
		}
		.slick-arrow{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 10;
			background: $color;
			color: #fff;
			border: 0;
			width: 50px;
			height: 50px;
			font-size: 30px;
			outline: none;
			border-radius: 50%;
			transition: all .5s ease;
			opacity: .7;
			&.fa-angle-right{
				right: 20px;
			}
			&.fa-angle-left{
				left: 20px;
			}
			&:hover{
				background: #fff;
				border: 1px solid;
				opacity: 1;
				color: $color;
				&.fa-angle-right{
					right: 0px;
				}
				&.fa-angle-left{
					left: 0px;
				}
			}
		}
	}
}

.index-policy{
	.box-index-policy{
		text-align: center;
		background: #ececec;
		padding: 40px 0;
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.17);
		transition: all .5s ease;
		margin-bottom: 30px;
		>img{
			width: 15%;
			margin: auto;
		}
		h2{
			font-size: 20px;
			font-weight: 200;
			line-height: 27px;
			margin-bottom: 0;
			>span{
				font-weight: bold;
			}
		}
		&:hover{
			box-shadow: unset;
		}
	}
}

.index-advertise{
	.img-advertise{
		outline: none;
		margin-bottom: 30px;
	}
}

.product-page{
	.regular2{
		margin-bottom: 50px;
		.items-2{
			padding: 0 10px;
			.box-prd{
				margin-bottom: 40px;
				&-pic{
					height: unset;
				}
			}
		}
		button{
			position: absolute;
			z-index: 999;
			bottom: -30px;
			background: transparent;
			width: 35px;
			height: 35px;
			line-height: 35px;
			text-align: center;
			color: $black;
			border: 0;
			outline: none;
			transition: all .5s ease;
			font-size: 40px;
			font-weight: bold;
			&:hover{
				color: $text;
			}
			&.fa-angle-left{
				transform: translateX(50%);
				right: calc(50% + 30px);

			}
			&.fa-angle-right{
				transform: translateX(50%);
				right: calc(50% - 30px);

			}
		}
	}
}
.title{
	margin-bottom: 30px;
	position: relative;
	>h2{
		font-size: 25px;
		font-weight: 500;
		text-transform: uppercase;
		position: relative;
		overflow: hidden;
		padding: 10px 0;
		color: $color;
		&:after{
			content: '';
			position: absolute;
			bottom: 0;
			height: 2px;
			width: 100%;
			background: $color;
			left: 0;
		}
	}
	>a{
		position: absolute;
		top: 15px;
		right: 20px;
		color: $color;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;
		>i{
			font-size: 17px;
			margin-left: 3px;
			font-weight: bold;
		}
		&:hover{
			right: 0;
		}
	}
}


.box-prd{
	margin-bottom: 40px;
	.box-prd-pic{
		position: relative;
		>a{
			max-height: 100%;
			width: 100%;
			outline: none;
			>img{
				width: 100%;
				max-height: 100%;
			}
		}
		>ul{
			position: absolute;
			padding: 0;
			margin: 0;
			list-style: none;
			bottom: 20px;
			right: 15px;
			>li{
				>a{
					background: #fff;
					width: 35px;
					height: 35px;
					text-align: center;
					line-height: 35px;
					font-size: 18px;
					margin-top: 10px;
					color: $black;
					&:hover{
						color: $color;
					}
				}
				&:first-child{
					transition: all 1s ease;
					visibility: hidden;
					opacity: 0;
					transform: translateX(30px);
				}
				&:last-child{
					transition: all .5s ease;
					visibility: hidden;
					opacity: 0;
					transform: translateX(30px);
				}
			}
		}
	}
	.box-prd-txt{
		text-align: center;
		
		>a{
			>h4{
				font-size: 14px;
				font-weight: 600;
				color: $black;
				margin: 10px 0;
				text-transform: uppercase;
				line-height: 21px;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
				transition: all .5s ease;
				margin-bottom: 0;

			}
			&:hover{
				>h4{
					color: $text;
				}
			}
		}
		>h5{
			position: relative;
			font-size: 14px;
			font-weight: 600;
			margin: 0;
			>span{
				font-size: 12px;
				font-weight: 300;
				text-decoration: line-through;
				margin-left: 5px;
			}
			.rating{
				position: absolute;
				top: -2px;
				right: 0;
				transition: all .5s ease;
				opacity: 0;
				visibility: hidden;
				transform: translateX(15px);
				>span{
					color: $gray;
					&.checked{
						color: #ffd71b;
					}
				}
			}
		}
	}
	&:hover{
		.box-prd-pic{
			>ul{
				>li:first-child{
					visibility: visible;
					opacity: 1;
					transform: translateX(0px);
				}
				>li:last-child{
					visibility: visible;
					opacity: 1;
					transform: translateX(0px);
				}
			}
		}
		.box-prd-txt{
			h4{
				color: $text;
			}
			>h5{
				.rating{
					opacity: 1;
					visibility: visible;
					transform: translateX(0px);

				}
			}
		}
	}
}